
<ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
    <div class="divider"></div>
    <li class="logo">
        <%= image_tag("logo.png", :alt => "logo", :style => "margin-top: -20px; padding-bottom: 33px") %>
    </li>
    <li class="collection-header <%= current_page?('/') | current_page?('/users') ? 'active':'' %>">
        <a href="/" class=""><h4>All</h4></a>
    </li>
    <li class="bold <%= current_page?('/users/0') ? 'active':'' %>">
        <a href="/users/0" class="waves-effect waves-teal">Asian</a>
    </li>
    <li class="bold <%= current_page?('/users/1') ? 'active':'' %>">
        <a href="/users/1" class="waves-effect waves-teal">Indian</a>
    </li>
    <li class="bold <%= current_page?('/users/2') ? 'active':'' %>">
        <a href="/users/2" class="waves-effect waves-teal" >African Americans</a>
    </li>
    <li class="bold <%= current_page?('/users/3') ? 'active':'' %>">
        <a href="/users/3" class="waves-effect waves-teal">Asian Americans</a>
    </li>
    <li class="bold <%= current_page?('/users/4') ? 'active':'' %>">
        <a href="/users/4" class="waves-effect waves-teal">European</a>
    </li>
    <li class="bold <%= current_page?('/users/5') ? 'active':'' %>">
        <a href="/users/5" class="waves-effect waves-teal">British</a>
    </li>
    <li class="bold <%= current_page?('/users/6') ? 'active':'' %>">
        <a href="/users/6" class="waves-effect waves-teal">Jewish</a>
    </li>
    <li class="bold <%= current_page?('/users/7') ? 'active':'' %>">
        <a href="/users/7" class="waves-effect waves-teal">Latino</a>
    </li>
    <li class="bold <%= current_page?('/users/8') ? 'active':'' %>">
        <a href="/users/8" class="waves-effect waves-teal">Native American</a>
    </li>
    <li class="bold <%= current_page?('/users/9') ? 'active':'' %>">
        <a href="/users/9" class="waves-effect waves-teal">Arabic</a>
    </li>
    <li class="collection-header">
        <a href="/#"><h4>Favourites</h4></a>
    </li>
    <ul class="collection">
        <li class="collection-item">Total Status:
            <span class="badge"><%= @status %> </span>
        </li>
        <li class="collection-item">API Hits:
            <span class="badge"><%= @hits %></span>
        </li>
    </ul>
</ul>
