
<div class="card darken-1">
    <div class="card-image">
    </div>
    <div class="card-content">
        <div class="pg-empty-placeholder row">
            <div class="col l3 m3 s6">
                <img src="<%= user.image %>" class="responsive-img">
            </div>
            <div class="col l9 m9 s9">
                <h5 class="center-align white-text z-depth-1 eth cyan"><%= user.ethnicity %></h5>
                <i class="left mdi-editor-format-quote small left-align"></i>
                <div class="col m3 s6 l8">
                </div>
                <h5 class="black-text left-align status flow-text"><%= user.status %></h5>
            </div>
        </div>
        <h5 class="black-text left-align status flow-text">
          drinks:  <i class="left-align <%= user.drink ? 'mdi-action-done' : 'mdi-content-clear' %>"></i>&nbsp;
          | &nbsp;vegan: <i class="left-align <%= user.is_veg ? 'mdi-action-done' : 'mdi-content-clear' %>"></i>
          | &nbsp;height: <%= user.height %> cm | weight: <%= sprintf('%.2f', user.weight) %> KG</h5>
    </div>
    <div class="card-action">
        <a href="#" class="stat-ops red-text"><i class="left-align mdi-action-favorite"></i> favourite it!</a>
        <a href="#" class="stat-ops blue-text"><i class="left-align mdi-file-file-download"></i> Download</a>
        <a href="#" class="stat-ops green-text darken-4"><i class="left-align mdi-social-share"></i> share</a>
    </div>
</div>
<div class="divider"></div>
