<!DOCTYPE html>
<html>
<head>
  <title>Idfy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <header>
            <nav class="top-nav">
                <div class="container">
                    <div class="nav-wrapper">
                    </div>
                    <h4 class="text-left">StatusHub-favourite, download and share!</h4>
                </div>
                <div class="row pg-empty-placeholder">
                    <form>
                        <div class="col s6 ">
                            <div class="input-field">
                                <input id="search" type="search" class="text-right input-lg" placeholder="Type Here">
                                <label for="search">
                                    <i class="mdi-action-search left small"></i>
                                </label>
                                <i class="mdi-navigation-close"></i>
                            </div>
                        </div>
                        <div class="col  s3">
                            <div class="switch">
                                <label class="white-text">All
                                    <input type="checkbox">
                                    <span class="lever"></span>            Vegan
                                </label>
                            </div>
                        </div>
                        <div class="col  s3">
                            <input type="submit" class="btn" value="Search">
                        </div>
                    </form>
                </div>
            </nav>
            <div class="container">
                <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a>
            </div>

            <%= render 'users/sidebar' %>

        </header>
        <main class="grey lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="divider"></div>
                        <% @users.each do |user| %>
                        <%= render user %>
                        <div class="divider"></div>
                      <% end %>




                        <a class="waves-light btn center-align waves-effect" ><i class="mdi-hardware-keyboard-arrow-down left-align"></i></a>
                        <div class="flickr_pagination">
                          <div class="page_info">
                            <%= page_entries_info @posts %>
                          </div>
                          <%= will_paginate @posts, :container => false %>
                        </div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">App By</h5>
                        <p class="grey-text text-lighten-4">Rupesh Parab</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Contact me at</h5>
                        <ul>
                            <li>
                                <a class="grey-text text-lighten-3" href="#!">Mobile: 9869635895</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="#!">Email: rupeshparab@outlook.com</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="#!">Email: rupeshparab.rp@gmail.com</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="#!">LinkedIn: linkedin.com/in/rupeshparab</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">            © 2015 Copyright Text
</div>
            </div>
        </footer>
        <script>
            $(document).ready(function() {
                $('.slider').slider();
                $('.parallax').parallax();
                $(".dropdown-button").dropdown();
                $(".button-collapse").sideNav();
                $('select').material_select();
            });
        </script>
    </body>
</html>
