
@font-face{
  font-family: "Roboto";
  src: font-url(asset-path("roboto/Roboto-Thin.woff2")) format("woff2"), font-url(asset-path("roboto/Roboto-Thin.woff")) format("woff"), font-url(asset-path("roboto/Roboto-Thin.ttf")) format("truetype");
  font-weight: 200; }

@font-face{
  font-family: "Roboto";
  src: font-url(asset-path("roboto/Roboto-Light.woff2")) format("woff2"), font-url(asset-path("roboto/Roboto-Light.woff")) format("woff"), font-url(asset-path("roboto/Roboto-Light.ttf")) format("truetype");
  font-weight: 300; }

@font-face{
  font-family: "Roboto";
  src: font-url(asset-path("roboto/Roboto-Regular.woff2")) format("woff2"), font-url(asset-path("roboto/Roboto-Regular.woff")) format("woff"), font-url(asset-path("roboto/Roboto-Regular.ttf")) format("truetype");
  font-weight: 400; }

@font-face{
  font-family: "Roboto";
  src: font-url(asset-path("roboto/Roboto-Medium.woff2")) format("woff2"), font-url(asset-path("roboto/Roboto-Medium.woff")) format("woff"), font-url(asset-path("roboto/Roboto-Medium.ttf")) format("truetype");
  font-weight: 500; }

@font-face{
  font-family: "Roboto";
  src: font-url(asset-path("roboto/Roboto-Bold.woff2")) format("woff2"), font-url(asset-path("roboto/Roboto-Bold.woff")) format("woff"), font-url(asset-path("roboto/Roboto-Bold.ttf")) format("truetype");
  font-weight: 700; }

  @font-face{
    font-family: "Material-Design-Icons";
    src: font-url(asset-path("material-design-icons/Material-Design-Icons.eot?#iefix")) format("embedded-opentype"), font-url(asset-path("material-design-icons/Material-Design-Icons.woff2")) format("woff2"), font-url(asset-path("material-design-icons/Material-Design-Icons.woff")) format("woff"), font-url(asset-path("material-design-icons/Material-Design-Icons.ttf")) format("truetype"), font-url(asset-path("material-design-icons/Material-Design-Icons.svg#Material-Design-Icons")) format("svg");
    font-weight: normal;
    font-style: normal; }
